<?xml version ="1.0" encoding ="utf-8"?>
<Configuration>
		<configSections>
			<section name="registerCompanies"
					 type="APITestAssignment.StepDefinitions.APITestStepDefinitions1, APITestAssignment.StepDefinitions.Assembly" />
		</configSections>
	<appSettings>
		<add key ="url" value ="https://reqres.in/" />
	</appSettings>
</Configuration>
